body {
  padding-top: 65px;
}

#main {
  margin: 5%;
}

#upload {
  padding: 30vh;
}

#submit-profile {
  border: none;
  background: none;
  padding: 0;
}

.hidden {
  display: none;
}

.margins {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.basic.teal.button.no-shadow {
  box-shadow: none !important;
}

#my-profile:hover {
  color: #00c4bc !important;
}

#my-friends:hover {
  color: #00c4bc !important;
}

div.ui.teal.image.label {
  margin-bottom: 5px !important;
}
